*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(img/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
}

/* navbar */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    background-color:rgb(15, 15, 59);
}

.logo {
    width: 180px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
}

/* cards */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.card {
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}

/* footer */

footer {
    background-color: rgb(11, 11, 72);
    position: sticky;
    top: 100%;
    border-radius: 20px 20px 0px 0px;
}

.footer-container {
    width: 100%;
    padding: 20px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    margin: 10px 10px;
    border-radius: 50%;
}

.social-icons a:hover {
    background-color: black;
    transition: 0.5s;
}

.social-icons a i {
    color: black;
    opacity: 0.9;
}

.social-icons a:hover i {
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 5px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-bottom {
    font-size: 10px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.footer-bottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* footer media queries */

@media (max-width: 700px) {
    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}